.all-projects-heading h2{
    border-left: 5px solid darkgoldenrod;
    text-indent: 10px;
    color: darkred;
}
.projects .item{
    margin: 0px;
}
.description{
    margin-bottom: 25px;
}

@media (min-width:768px){
    .all-projects-heading h2{
        font-size: 40px;
    }
    .all-projects-heading div{
        margin: 32px 0px;
    }
}

@media (max-width:768px){
    .all-projects-heading h2{
        font-size: 28px;
    }
    .all-projects-heading div{
        margin: 16px 0px;
    }
}

